<div class="d-flex flex-column justify-content-center align-items-center mt-5">
    <div class="p-2">
        <h3>Vul naam en e-mailadres in</h3>
    </div>
    <div class="d-flex flex-column mt-5 emailWidth">
        <div class="d-flex mb-3">
            <input maxlength="70" type="text" class="form-control" placeholder="Vul uw naam in..." [(ngModel)]="username">
        </div>
        <div class="d-flex">
            <input maxlength="50" type="email" class="form-control" placeholder="name@example.com" [(ngModel)]="email">
        </div>
        <div class="d-flex justify-content-end p-2">
            <button class="btn btn-outline-secondary btn-sm" (click)="saveUserData()">Verder</button>
        </div>
    </div>
</div>